<<<<<<< HEAD
nav,  .descargas, footer,  aside {
    max-width: 93%;
    margin: auto;
    text-align: center;

}

nav{
    background-color: cornflowerblue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
}

ul, ol{
    list-style: none;
}
/* Header principal de la pagina */


body > header{   
    overflow: hidden;
    color: #fff;
    border-bottom: 1px solid #000;
    background: #fff;
    width:100%;
}
header div.logo{
    display: inline-block;
    max-width: 400px;
    height: 100%;
    padding: 10px;
    vertical-align: top;
    transition: 1s all ease;
}

header div.logo img{
    width: 50%;
    height: auto;
    display: block;
}

header div.principal{
    display:inline-block;
    vertical-align: top;
    transition: 1s all ease;
}
header div.principal h1{
    color: #fff;
    text-shadow: 2px 2px #0c3d66;
    box-shadow: 2px 2px #082b47;
    background:linear-gradient(#1a75c0,#1667aa);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    font-family: 'Mina',Arial, Helvetica, sans-serif;
}

/* Barra redes sociales */

aside{
    background-color: aqua(41, 112, 45);
    display: inline-block;
    width: 65%;
}








/* Menu de navegación */


=======
* {margin: 0px;
padding: 0px;}
h1{color:blue} 
body{background:#444;
color: #000000;
}
>>>>>>> f67bae4fd7c54799976cb0a6eb7dedf02faf8d08
