
nav{
    background-color:#93C9D6;
}

*{
    padding: 0;
    margin: 0;
  
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
}

ul, ol{
    list-style: none;
}
/* Header principal de la pagina */


body > header{   
    overflow: hidden;
    color: #fff;
    border-bottom: 1px solid #000;
    background: #fff;
    width:100%;
}
header div.logo{
    display: inline-block;
    max-width: 400px;
    height: 100%;
    padding: 10px;
    vertical-align: top;
    transition: 1s all ease;
}

header div.logo img{
    transform: translateX(5%) translateY(0%);
    width: 100%;
    height: auto;
    display: block;
}

header div.principal{
    display:inline-block;
    vertical-align: top;
    transition: 1s all ease;

}
header div.principal h1{
    transform: translateX(20%) translateY(5%);
   color: #fff;
    text-shadow: 5px 2px #0c3d66;
    box-shadow: 2px 2px #0c3d66;
   background:linear-gradient(#0c3d66   ,#0c3d66);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    font-family: 'Mina',Arial, Helvetica, sans-serif;
}


aside{
    background-color: aqua(41, 112, 45);
    display: inline-block;
    width: 65%;
}





/* Menu de navegación */


body{background:#082b47;
color: #fff;
margin: 0px;
padding: 0px;}

    /*Menu*/

    
    
    header h1{
        font-size: 50px;
        text-align: center;
        line-height: 150px;  
        
      
    }
    
    
    footer{
    margin-top: 755px;
    background-color: #000000;
    margin-left: 0px;
    text-align: center;
    size: 5px;
    }
    
    footer h1{
    text-align: center;
    text-decoration: #fff;
    text-align: center;
    }    
    
   
    
    
    #contenido{
    width: 1000px;
    height:702px;
    float: left;
    background:#082b47 ;
    margin-top: 10px;
    margin-left: 10px;
    }


    
    #contenido h2{
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    color: yellow;
    
    }
    article {
   width: 100%;
    height: 580px;
    background:#082b47 ;
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    }
article h2{
    width:100%;
     height: 50px;
        
}
table{
    table-layout: fixed;
    width:130%;
}

th,td{

    width: 100%;
    
}
    aside{
    width: 100%;
    height: 500px;
    background:#082b47 ;
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
  
    }
    aside h2{
    width:100%;
     height: 50px;
    }

    .github{
    width: 100%;
	max-width: 200px;
	border:3px solid #333;
	border-radius: 5%;
}
    .imagenuno{
       width: 100%;
	max-width: 180px;
	border:3px solid #333;
	border-radius: 5%;

    }
    .imagendos{
        
    width: 100%;
	max-width: 200px;
	border:3px solid #333;
	border-radius: 5%;

    }
    .imagentres{
       width: 100%;
	max-width: 199px;
	border:3px solid #333;
	border-radius: 5%;

    }
   
    figure{
        
    padding: 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    }

    .parrafouno{
            
            margin: 30px 30px 30px 10px;
            text-align: justify;
        

    } 


/* multimedia */

h3{
    margin-left: 150px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 0px;
}

iframe{
    margin-left: 417.5px;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#lectura_1{
height: 6   90px;



}

